.content {
  width: 360px;
  height: 528px;
  margin: 32px 48px 32px 0;
  &:first-child {
    margin-left: 56px;
  }
  &:last-child {
    margin-right: 56px;
  }
  &__big {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 304px;
    margin-bottom: 32px;
    &__figure {
      height: 248px;
    }
    &__title {
      font-size: 18px;
      font-weight: 900;
      line-height: 24px;

      margin-bottom: 8px;

      letter-spacing: .1em;
      text-transform: uppercase;

      color: var(--title);
    }
    &__img {
      width: 100%;
      height: 216px;

      border-radius: 2px;

      object-fit: cover;
      object-position: center;
    }
    &__text {
      font-size: 18px;
      font-weight: bold;
      line-height: 24px;

      margin-top: 8px;
    }
  }

  &__small {
    display: flex;
    align-items: center;
    flex: 100%;
    flex-direction: row;

    margin-bottom: 32px;
    :last-child {
      margin-bottom: 0;
    }
    &, &__figure, &__img {
      height: 80px;
    }
    &__img {
      width: 80px;
      margin-right: 16px;

      border-radius: 2px;

      object-fit: cover;
    }
    &__text {
      font-family: Georgia;
      font-size: 16px;
      font-weight: normal;
      line-height: 24px;
    }
  }
}

@media (min-width: 320px) and( max-width: 1366px) {
  .content {
    width: 288px;
    margin: 32px 32px 32px 0;
    &:first-child {
      margin-left: 16px;
    }
    &:last-child {
      margin-right: 16px;
    }
    &__big {
      &__figure {
        height: 214px;
      }
      &__img {
        height: 182px;
      }
    }
  }
}

@media (max-width: 320px) {
  .content {
    width: 304px;
    height: 518px;
    margin: 0 8px 40px 8px;
    &:first-child {
      margin-top: 32px;
      margin-left: 8px;
    }
    &:last-child {
      margin-right: 8px;
      margin-bottom: 32px;
    }

    &__big {
      height: 294px;
      &__figure {
        height: 214px;
      }
      &__img {
        width: 304px;
        height: 182px;
      }
    }
    &__small {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
