.main {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 656px;

  background-color: var(--bg);
  @media (min-width: 320px) and( max-width: 1366px) {
    min-height: 646px;
  }
  @media (max-width: 320px) {
    min-height: 1762px;
  }
}
.topic {
  display: flex;
  flex-direction: row;

  min-width: 1288px;
  height: 592px;

  border-radius: 8px;
  background: #f7f1fe;
  @media (min-width: 320px) and( max-width: 1366px) {
    min-width: 960px;
    height: 582px;
  }
  @media (max-width: 320px) {
    align-items: center;
    flex-direction: column;

    min-width: 320px;
    height: 1698px;
  }
}
