@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-style: normal;
}

:root {
  --bg: #fff;
  --title: #f42f3a;
}
